<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>PetGo — Acessórios</title>
  <link rel="stylesheet" href="/public/CSS\style.css">
  <link rel="stylesheet" href="/public/CSS\produtosv2.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="/public/CSS\dropdown.css">
  <link rel="stylesheet" href="/public/CSS/toast.css">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Poppins:wght@600;800&display=swap" rel="stylesheet">
  <script type="module" src="/public/js/produtosV2.js"></script>
</head>
<body>
  <header>
    <div class="container header-inner" id="Header">
    </div>
  </header>

  <main class="container">
    <!-- COLEIRAS -->
    <section>
      <h3 class="section-title">Coleiras</h3>
      <div class="grid cols-3">
        <article class="product-card">
          <div class="product-info">
            <h4>Coleira Ajustável Colorida</h4>
            <div class="price">R$ 39,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\coleira1.png" alt="Coleira 1" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Coleira com Plaquinha de Nome</h4>
            <div class="price">R$ 49,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\coleira2.png" alt="Coleira 2" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Coleira Premium de Couro</h4>
            <div class="price">R$ 69,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\coleira3.png" alt="Coleira 3" class="product-img">
        </article>
      </div>
    </section>

    <!-- BRINQUEDOS -->
    <section>
      <h3 class="section-title">Brinquedos</h3>
      <div class="grid cols-3">
        <article class="product-card">
          <div class="product-info">
            <h4>Bolinha Interativa para Pets</h4>
            <div class="price">R$ 24,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\bolinhainterativa.png" alt="Brinquedo 1" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Osso de Borracha Reforçado</h4>
            <div class="price">R$ 29,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\ossoborracha.jpg" alt="Brinquedo 2" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Varinha com Pena para Gatos</h4>
            <div class="price">R$ 19,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\varinhapena.jpg" alt="Brinquedo 3" class="product-img">
        </article>
      </div>
    </section>

    <!-- CAMAS -->
    <section>
      <h3 class="section-title">Camas</h3>
      <div class="grid cols-3">
        <article class="product-card">
          <div class="product-info">
            <h4>Caminha Redonda Peluciada</h4>
            <div class="price">R$ 129,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\cama1.jpg" alt="Cama 1" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Caminha Retangular Impermeável</h4>
            <div class="price">R$ 159,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\cama2.jpg" alt="Cama 2" class="product-img">
        </article>
        <article class="product-card">
          <div class="product-info">
            <h4>Caminha Premium Espuma Visco</h4>
            <div class="price">R$ 189,90</div>
            <button class="btn primary">Adicionar ao Carrinho</button>
          </div>
          <img src="/public\img\cama3.jpg" alt="Cama 3" class="product-img">
        </article>
      </div>
    </section>
  </main>

  <footer id="contato">
  <div class="container footer-inner">
    <div>
      <div class="logo"><span class="paw">🐾</span> PetGo</div>
      <p class="subtitle">Cuidando do seu pet com carinho e tecnologia.</p>
    </div>

    <div class="links">
      <strong>Links</strong>
      <a href="#">Sobre</a>
      <a href="#">FAQ</a>
      <a href="#">Política de Privacidade</a>
    </div>

    <div class="novidades-sociais">
      <div class="novidades">
        <strong>Novidades</strong>
        <p class="subtitle">Receba ofertas e novidades.</p>
        <form class="form-novidades" onsubmit="event.preventDefault(); alert('Inscrição realizada!');">
        <input type="email" placeholder="Seu e-mail" required>
        <button class="btn primary" type="submit">Cadastrar</button>
        </form>
      </div>
      
      <div class="redes-sociais">
        <strong>Redes Sociais</strong>
        <div class="social">
          <a href="#" class="badge" title="Visite nosso instagram">
            <img src="/public/img/instagram-icon.svg" alt="Instagram">
          </a>
          <a href="#" class="badge" title="Visite nosso Facebook">
            <img src="/public/img/facebook-icon.svg" alt="Facebook">
          </a>
          <a href="#" class="badge" title="Visite nosso Tiktok">
            <img src="/public/img/tiktok-icon.svg" alt="TikTok">
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
</body>
</html>
